<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMSuite" parallel="classes" thread-count="6"> <!--if I write classes or methods in parallel, then all the class's tests will run simultaneously(many browsers will open at a time) but we have written tests now, then it wil run one by one.-->
	<listeners>
		<listener class-name="com.orangehrm.listeners.TestListener"></listener>
	</listeners>
	<test name="OrangeHRMTest">
		<classes>
			<class name="com.orangehrm.testcases.DummyTestClass"></class>
			<class name="com.orangehrm.testcases.DummyTestClass2"></class>
			<class name="com.orangehrm.testcases.LoginPageTest"></class>
			<class name="com.orangehrm.testcases.HomePageTest"></class>
			<class name="com.orangehrm.testcases.DBVerificationTest"></class>
			<class name="com.orangehrm.testcases.ApiTest"></class>

		</classes>
	</test>
	<!--<test name="OrangeHRMTest1">
		<classes>
			<class name="com.orangehrm.testcases.DummyTestClass"></class>
			<class name="com.orangehrm.testcases.DummyTestClass2"></class>
			<class name="com.orangehrm.testcases.LoginPageTest"></class>
			<class name="com.orangehrm.testcases.HomePageTest"></class>
		</classes>
	</test>-->
</suite>